<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>ML Deployment using Heroku</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="prediction">
        <h1>Diabetes Prediction</h1>
        <form action="{{ url_for('predict')}}"method="post">
		<label for="Pregnancies">Pregnancies</label>
		<input type="text" id="Pregnancies" name="Pregnancies" required="required">
		<br>
    		<label for="Glucose">Glucose</label>
    		<input type="text" id="Glucose" name="Glucose" required="required">
        <br>
    		<label for="BloodPressure">Blood Pressure</label>
    		<input type="text" id="BloodPressure" name="BloodPressure" required="required">
        <br>
    		<label for="SkinThickness">Skin Thickness</label>
    		<input type="text" id="SkinThickness" name="SkinThickness" required="required">
        <br>
            <label for="Insulin">Insulin</label>
    		<input type="text" id="Insulin" name="Insulin" required="required">
        <br>
            <label for="BMI">BMI</label>
            <input type="text" id="BMI" name="BMI" required="required">
        <br>
            <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function</label>
    		<input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" required="required">
        <br>
            <label for="Age">Age</label>
            <input type="text" id="Age" name="Age" required="required">
        <br>
        
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

       <br>
       <b>{{ prediction_text }}</b>
    </div>
</body>
</html>